<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>neon moon</title>
</head>
<body>

<div class="main-heading">
<h1 class="main-heading-one">neon moon</h1>
<h2 class="main-heading-two">we can't change the future but we could plan</h2>
<input type="button" methode="post" action="/" placeholder="check weather">wetheer
<input type="button" methode="post" action="/about" placeholder="about me">
</div>

</body>
</html>